# Configuration file

####################
# general
####################

general {
    I:EntityBat=0
    I:EntityCaveSpider=0
    I:EntityClientPlayerMP=0
    I:EntityCreeper=0
    I:EntityEnderman=0
    I:EntityExplosion=0
    I:EntityExplosive=0
    I:EntityFallingSand=0
    I:EntityItem=0
    I:EntityMinecartChest=0
    I:EntitySkeleton=0
    I:EntitySlime=0
    I:EntitySpider=0
    I:EntitySquid=0
    I:EntityWaypointContainer=0
    I:EntityZombie=0
    I:"update Interval"=1000
}


